<div class="comment col-md-6 clo-xs-12">
    <div class="comment-info-block row">
        <div class="user-photo col-xs-2">
            <img class="img-responsive user-photo" src="assets/images/avatars/<%= comment.comment.avatar%>.png">
        </div>
        <div class="comment-body col-xs-6">
            <div class="comment-place-name">
                <strong><%= comment.comment.locationName%></strong>
            </div>
            <div class="comment-author-info">
                <span style="bold"><%= comment.comment.nickname%> </span><span class="text-muted">commented <%= comment.comment.date%></span>
            </div>
        </div>
        <div class="buttons-bar col-xs-4">
            <img class="favourite-btn" src=" <% if (comment.favorite) { %> assets/images/icons/icons8-star-filled-96.png <% } else { %> assets/images/icons/icons8-add-to-favorites-96.png <% } %>">
        </div>
    </div>
    <div class="comment-text-container row">
        <div class="comment-text-body row">
            <%= comment.comment.comment%>
        </div>
    </div>
    <div class="media-bar row">
        <% for(let i = 0; i < comment.comment.img.length; i++) { %>
            <img class="uploaded-img img" alt="<%= comment.comment.locationName%>" src="<%= comment.comment.img[i]%>">
        <% } %>
    </div>
</div>