<div class="col-md-6 col-xs-12">
    <div class="col-xs-2">
        <div class="thumbnail thumb_city">
            <img class="img-responsive user-photo" src="assets/images/logo.png">
        </div>
    </div>

    <div class="col-xs-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong><%= comment.nickname%></strong> <span class="text-muted">commented <%= comment.day%>-<%= comment.month%>-<%= comment.year%> <%= comment.hours%>:<%= comment.minutes%></span>
            </div>
            <div class="panel-body">
                <%= comment.comment%>
            </div>
        </div>
    </div>
</div>