<div class="col-md-6 col-xs-12">
    <div class="col-xs-2">
        <div class="thumbnail thumb_city">
            <img class="img-responsive user-photo" src="assets/images/logo.png">
        </div>
    </div>

    <div class="col-xs-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong><%= comment.comment.nickname%></strong> <span class="text-muted">commented <%= comment.comment.day%>-<%= comment.comment.month%>-<%= comment.comment.year%> <%= comment.comment.hours%>:<%= comment.comment.minutes%></span><span class="favorite <% if (comment.favorite) { %> glyphicon glyphicon-star <% } else { %> glyphicon glyphicon-star-empty <% } %>"></span>
            </div>
            <div class="panel-body">
                <%= comment.comment.comment%>
            </div>
        </div>
    </div>
</div>